body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: antiquewhite;
  font-family: "Montserrat" !important;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  text-align: center;
}
